.category-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(215, 193, 225);   /* same grey color like Nykaa */
  padding: 12px 20px;
  border-bottom: 1px solid #060505;
  font-family: Arial, sans-serif;
  border: 2px solid black;
  border-radius: 6px;
}

.category-item {
  font-size: 15px;
  color: #080808;
  cursor: pointer;
  padding: 6px 12px;
  transition: 0.2s ease-in-out;
  
}

.category-item:hover {
  color: rgba(183, 81, 230, 1);     /* pink hover like Nykaa */
  transform: scale(1.05);
}
